.card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: white;
    border-radius: 10%;
    overflow: hidden;
    padding: 20px;
    cursor: pointer;
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(transparent),
        to(rgba(0, 0, 0, 0.4))
    );
}
.card-image {
    width: 70%;
    height: 70%;
    right: 0;
    -webkit-transform: rotate(25deg) translate(18%, -2%);
    transform: rotate(25deg) translate(80%, -2%);
}
