* {
    border: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    outline: none;
    box-sizing: border-box;
}

.leftNavBar {
    padding-top: 24px;
    padding-left: 10px;
    color: white;
    min-width: 230px;
    display: flex;
    flex-direction: column;
    background-color: rgb(4, 4, 4);
}

#spotify-logo {
    max-width: 140px;
    padding-left: 14px;
    padding-bottom: 18px;
}

.leftMenu a {
    text-decoration: none;
    color: white;
    /* color: rgb(177, 177, 177); */
}

.leftMenuOption {
    padding: 0px 16px 0px 16px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-weight: bold;
    filter: brightness(50%);
}

.leftMenuOption p {
    font-size: 14px;
    margin-left: 16px;
    letter-spacing: 1px;
}

.leftMenuOption img {
    height: 22px;
}

.leftMenuOption > #search {
    filter: invert(80%);
}

.leftMenuOptions div:hover {
    filter: brightness(90%);
}

.leftMenuOptionSelected {
    background-color: rgb(40, 40, 40);
    width: 200px;
    filter: brightness(100%);
}

.leftNavFooter {
    margin-top: 100%;
}

.leftNavFooter a {
    text-decoration: none;
    font-size: 13px;
    color: rgb(177, 177, 177);
}

.leftNavFooterOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selected {
    color: white;
    filter: grayscale(0%);
}

.leftMenu ul {
    padding: 0px;
    list-style: none;
}

.App {
    background-color: #111111;
    display: flex;
    height: 100vh;
}

@media only screen and (max-width: 600px) {
    .App {
        height: 100%;
    }
}

.RightBar {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.albumesContainer {
    overflow: scroll;
    overflow-x: hidden;
    height: 100%;
    padding-bottom: 150px;
}
.bars {
    display: flex;
    height: 90%;
    width: 100%;
}
